.work__detail {
    margin-left: 4em;
    margin-right: 4em;
    padding-top: 6%;
}

.work__detail-img {
    width: 20%;
}

.work__detail-title {
    margin-left: 1em;
}

.work__detail-basics {
    color: rgb(101, 101, 101);
    font-size: 10px;
}

.work__detail-credits {
    color: rgb(101, 101, 101);
    font-size: 10px;
}