.menu {
    margin-left: 4em;
    margin-right: 4em;
    padding-top: 6%;
}

.menu__item-img {
	pointer-events: none;
	position: fixed;
	height: 50vh;
	max-height: 400px;
	opacity: 0;
	left: 100%;
	top: 30%;
	transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
}

.menu__item-link {
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    -webkit-font-smoothing: antialiased;
    color: #f4f0f0;
    font-size: 35px;
}

.menu__item-link:hover {
    text-shadow: -1.5px -1.5px 0 #5e4c49, 1.5px -1.5px 0 #5e4c49, -1.5px 1.5px 0 #5e4c49, 1.5px 1.5px 0 #5e4c49;
    -webkit-font-smoothing: antialiased;
    color: #5e4c49;
    font-size: 35px;

    .menu__item-img {
        opacity: 1;
        transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
        transition: all 0.4s;
    }
}





