.about-info {
    margin-top: 15em;
    text-align: justify;
    text-justify: inter-word;

    @media (max-width: 1025px) {
        width: 500px;
    }

    @media (min-width:1025px) {
        margin-left: 7em;
        width: 700px;
    }

}

h5 {
    font-size: 25px;
}
