.container {
    display: flex;
    padding-top: 6%;
    justify-content: center;
}

.contact-form {
    margin-top: 15em;
    
    

    @media (max-width: 1025px) {
        width: 300px;
    }

    @media (min-width:1025px) {
        margin-left: 7em;
        width: 700px;
    }

    h5 {
        font-size: 25px;
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 1s 0.5s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background-color: #dbc1bd;
        height: 50px;
        font-size: 16px;
        padding: 0 20px;
        box-sizing: border-box;
        border-radius: 5px;
    }

    input:focus::placeholder {
        color: transparent;
       }
      
    input::placeholder {
        color: #494f59;
        transition: color 0.3s ease;
       } 

    textarea {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        font-size: 16px;
        width: 100%;
        border: 0;
        background-color: #dbc1bd;
        height: 50px;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
        border-radius: 5px;
        resize: none;
    }

    textarea:focus::placeholder {
        color: transparent;
       }
      
    textarea::placeholder {
        color: #494f59;
        transition: color 0.3s ease;
       }

    .button {
        font-size: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: none;
        float: right;
        border-radius: 24px;
        cursor: pointer;
        transition: all .3s;
    }

    .button:hover {
        background-color: #5e4c49;
        color: #ffff;
    }

}

.contact-pic {

    @media (max-width: 1025px) {
        display: none;
    }

    @media (min-width:1025px) {
        object-fit: cover;
        width: 400px;
        height: 600px;
    }
    
}