.homepage-background {
    height:100vh;
    width:100vw;
    background-image: linear-gradient(rgba(142, 142, 142, 0.5), rgba(148, 148, 148, 0.2)), url("../../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
