.img-container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
}

img {
    padding: 5rem;
}

.img-unselected {
    width: 20%;
    margin-left: auto;
    opacity: 0.3;
    transition: 1s ;  
}

.img-hover {
    width: 24%;
    margin-left: auto;
    opacity: 1.0;
    transition: 1s;  
    cursor: pointer;
    
    .img-unselected {
        opacity: 0;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
    }
}






