

.links-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    width: 100%;
    top: 0;
}

.links-bottom {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: 100%;
}

.name-link {
    display: block;
    font-size: 80px;
    text-decoration: none;
    color: rgb(30, 30, 30);
}

.about-link {
    display: block;
    font-size: 60px;
    text-decoration: none;
    color: rgb(30, 30, 30);
}

.cv-link {
    display: block;
    font-size: 60px;
    text-decoration: none;
    color: rgb(30, 30, 30);
}

.contact-link {
    display: block;
    font-size: 60px;
    text-decoration: none;
    color: rgb(30, 30, 30);
}