

.links-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    width: 100vw;
    top: 0;
}

.links-bottom {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: 100vw;
}

.name-link {
    display: block;
    font-size: 80px;
    text-decoration: none;
    color: rgb(30, 30, 30);
    margin-left: 10px;

    @media (max-width: 1025px) {
     font-weight: 300;
     font-size: 60px;   
    }
}

.works-link {
    display: block;
    font-size: 60px;
    text-decoration: none;
    color: rgb(30, 30, 30);
    margin-right: 10px;

    @media (max-width: 1025px) {
        font-weight: 300;
        font-size: 40px;   
       }
}

.cv-link {
    display: block;
    font-size: 60px;
    text-decoration: none;
    color: rgb(30, 30, 30);
    margin-left: 10px;

    @media (max-width: 1025px) {
        font-weight: 300;
        font-size: 40px;   
       }
}

.contact-link {
    display: block;
    font-size: 60px;
    text-decoration: none;
    color: rgb(30, 30, 30);
    margin-right: 10px;

    @media (max-width: 1025px) {
        font-weight: 300;
        font-size: 40px;   
       }
}